<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">

    </div>
    <script src="./Vue.js"></script>
    <script>
        //注册组件(子类)
        const Header = Vue.extend({
            template: ` <div>组件1</div>`,
        })
        new Header().$mount('#app')
        //不常用
    </script>
</body>

</html>