<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>具名插槽</title>
</head>

<body>
    <div id="app">

    </div>
    <script src="./Vue.js"></script>
    <script>
        const Father = Vue.extend({
            data() {
                return {
                    name: 'Father'
                }
            },
            template: ` 
            <div>
                <p>{{name}}</p>
                <slot name="a1"/>
                <slot name="a2"/>
            </div>`,
            components: {
            }
        })
        const vm = new Vue({
            el: '#app',
            data: {
                name: '王老五'
            },
            template: ` <div>
                    <Father attr2="s0">
                        <template v-slot:a1>
                        你好
                    </template>
                        <template v-slot:a2>
                        你好
                    </template>
                    </Father>
                </div>`,
            //通过一个<template v-slot: Tname> 标签将其中的内容传出,再通过 <slot name="Tname"/>接收该内容(非重点)
            components: {
                Father
            }
        });


    </script>
</body>

</html>