<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">

    </div>
    <script src="./Vue.js"></script>
    <script>
        const Father = Vue.extend({
            data() {
                return {
                    name: 'Father'
                }
            },
            props: ['attr', 'attr2'],
            //从父组件获取属性为attr的属性值,还可以获取到设置这个属性的标签的内容,再通过<slot>标签插入
            template: ` 
            <div>
                <p>{{name}}</p>
                <span><slot/></span>
            </div>`,
            components: {
            }
        })
        const vm = new Vue({
            el: '#app',
            data: {
                name: '王老五'
            },
            template: ` <div>
                    <Father attr2="s0">
                        你好
                    </Father> 
                    <Father attr2="s1">
                        大家好
                    </Father>
                </div>`,
            //设置一个拥有attr属性的标签,用来传值给子组件
            components: {
                Father
            }
        });


    </script>
</body>

</html>