<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>动态组件(选项卡)</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        header {
            text-align: center;
            width: 100%;
            line-height: 50px;
            height: 50px;
            background-color: red;
            color: white
        }
    </style>
</head>

<body>
    <div id="app">

    </div>
    <script src="./Vue.js"></script>
    <script>
        const Header = Vue.extend({
            data() {
                return {
                    name: '李四'
                }
            },
            template: ` 
            <header :style="{backgroundColor:'red'}"> 
              {{name}}
          </header>`,
            components: {
            }
        });
        const Footer = Vue.extend({
            data() {
                return {
                    name: '张三'
                }
            },
            template: ` 
            <header :style="{backgroundColor:'blue'}">
                {{name}}
            </header>`,
            components: {
            }
        });
        const vm = new Vue({
            el: '#app',
            data: {
                tabName: 'Header'
            },
            template: `
            <div> 
                <keep-alive>
                    <component :is="tabName"></component>
                </keep-alive>
                <button @click="toggle('Header')">李四</button>
                <button @click="toggle('Footer')">张三</button>
            </div>
            `,
            // component通过:is获取data的值,从而形成动态效果
            //  <keep-alive>可以使组件将永远不会销毁,内存不会回收，真实DOM消失了，但是虚拟DOM不消失
            components: {
                Header, Footer
            },
            methods: {
                toggle(tabName) {
                    this.tabName = tabName
                }
            }
        });



    </script>
</body>

</html>