<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h2>v-text和{{}}、v-html</h2>
        <p v-text="textContent"></p>
        <p>{{bracketsContent}}</p>
        <p v-html="htmlContent"></p>
        <h3>三者区别</h3>
        <p>
        <ol>
            <li><b>v-text指令将会设置,甚至覆盖这个节点的所有内容,而{{}}指令只会更新括号中的内容</b></li>
            <li><b>v-text渲染的都是文本内容,而v-html可以携带节点并渲染</b></li>
        </ol>
        </p>
        <br />
        <h2>v-show、v-if</h2>
        <p v-show="visible">这句话使用了v-show指令</p>
        <button @click="showButton">v-show</button>
        <p v-if="rendered==0">这句话使用了v-if指令</p>
        <p v-else-if="rendered>0&&rendered<=10">这句话使用了v-else-if指令,前一兄弟元素必须有 v-if 或 v-else-if</p>
        <p v-else>这句话使用了v-else指令,前一兄弟元素必须有 v-if 或 v-else-if</p>
        <label for="rendered">输入数字控制v-if:</label>
        <input min="0" max="20" id="rendered" type="number" v-model="rendered" />

        <h3>二者区别</h3>
        <p>
        <ol>
            <li>
                <b>
                    v-show:根据表达式之真假值，切换元素的 display CSS property。当条件变化时该指令触发过渡效果。
                </b>
            </li>
            <li>
                <b>
                    v-if直接使dom节点取消或者挂载,可以搭配 v-else-if、v-else使用
                </b>
            </li>
            <li>
                <b>
                    需要频繁切换的时候使用v-show,只做判断的时候使用v-if
                </b>
            </li>
        </ol>
        </p>
        <br />

        <h2>v-for列表渲染</h2>
        <ul>
            <h3>遍历数组</h3>
            <li v-for="(item,index) in stars" v-text="item" :key="index"></li>
            <h3>遍历字符串</h3>
            <li v-for="item in forString" v-text="item"></li>
            <h3>遍历数字</h3>
            <li v-for="item in forNumber" v-text="item"></li>
            <h3>遍历对象</h3>
            <li v-for="(value,key) in forObject[0]">
                {{key}}--{{value}}
            </li>
        </ul>
        <h2>v-for和v-if一起使用</h2>
        <ul v-if="stars.length">
            <h3>遍历数组</h3>
            <li v-for="(item,index) in stars" v-text="item" :key="index" v-if='!!item'></li>
        </ul>

        <div class="vbind" :class="{active:isActive,}">
            这里使用了v-bind语法
        </div>
    </div>
    <style>
        .vbind {
            width: 200px;
            /* height: 100px; */
            background-color: #58bc58;
        }

        .active {
            /* animation: heightUp 2s;
            animation-fill-mode：forwards */
            animation-name: heightUp;
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }

        @keyframes heightUp {
            0% {
                height: 00px;
            }

            50% {
                height: 100px;
            }

            100% {
                height: 200px;
            }
        }
    </style>
    <script src="../vue.js">

    </script>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                isActive: 1,
                value: "",
                textContent: "这句话使用了v-text指令",
                bracketsContent: "这句话使用了{{}}指令",
                htmlContent: "<span style=\"color: red\">这句话使用了v-html指令</span>",
                visible: true,
                rendered: 0,
                stars: ["胡歌", "鞠婧祎", "傅谨", "潘金虎", "诺兰", 0, undefined, null],
                forString: "abcd",
                forNumber: 5,
                forObject: [{
                    name: "Ethan",
                    age: 18,
                    job: "none",
                    xr: true
                }, {
                    name: "cherry",
                    age: 18,
                    job: "student",
                    xr: false
                }]
            },
            methods: {
                showButton() {
                    this.visible = !this.visible;
                }
            }
        })
    </script>
</body>

</html>