<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        #app {
            margin: 100px auto;
            width: 100%;
        }

        h1 {
            text-align: center;
        }

        table,
        th,
        td {
            border: 1px solid orange;
            text-align: center;
        }

        table {
            width: 800px;
            margin: 0 auto;
        }

        th {
            background: orange;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>图书管理</h1>
        <p>
        <p>
            书名:<input type="text" v-model='newbook' />
            b编号:<input type="text" v-model='newbookid' :disabled="flag" />
            <!-- <button @click="handle" :disable='false'>提交</button> -->
            <input type="button" value="提交" @click="handle" :disabled="submitFlag">
        </p>
        <table>
            <thead>
                <tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in booklist" :key='item.bookid'>
                    <td>{{item.bookid}}</td>
                    <td>{{item.bookname}}</td>
                    <td>{{item.createDate|formatDate('yyyy-MM-dd hh:mm:ss')}}</td>
                    <td>
                        <button @click="del(item.bookid)">删除</button>
                        <button @click="change(item.bookid)">修改</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>{{total}}</div>
    </div>
    <script src="../vue.js"></script>
    <script src="../../../../utils.js"></script>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                flag: !!0,
                booklist: [],
                newbook: '',
                newbookid: '',
                submitFlag: !!0
            },
            methods: {
                del(id) {
                    console.log('del');
                    ////方法一
                    // 通过id查找数组中的索引
                    // var index = this.booklist.findIndex(item => {
                    //     return item.bookid == id
                    // })
                    // this.booklist.splice(index, 1) 

                    //方法二:过滤掉id==bookid
                    this.booklist = this.booklist.filter(item => {
                        return item.bookid != id
                    })
                },
                change(id) {
                    //通过id查询到book
                    var book = this.booklist.filter(function (item) {
                        return item.bookid == id;
                    });
                    //将要修改的数据填充到表单
                    this.newbook = book[0].bookname;
                    this.newbookid = book[0].bookid;
                    this.flag = !0;
                    console.log(this.flag);

                },
                handle() {
                    if (this.flag) { //禁用时为数据修改状态
                        this.booklist.some(item => {
                            if (item.bookid == this.newbookid) {
                                item.bookname = this.newbook;
                                return !0;
                            }
                        })
                        this.flag = !!0;
                    } else { //添加状态
                        var book = {};
                        book.bookid = this.newbookid;
                        book.bookname = this.newbook;
                        book.createDate = new Date()
                        this.booklist.push(book);
                    }
                    this.newbook = '';
                    this.newbookid = '';
                }
            },
            computed: {
                total() {
                    return this.booklist.length; //统计书量
                }
            },
            watch: {
                newbook(value) {
                    var res = this.booklist.some(item => {
                        return item.bookname == value
                    })
                    console.log(res);
                    if (res) {
                        this.submitFlag = !0
                    } else {
                        this.submitFlag = !!0
                    }
                }
            },
            filters: {
                formatDate //格式化日期
            },
            mounted() {
                //模拟后台获取数据
                var books = [{
                    bookid: 1,
                    bookname: '三国演义',
                    createDate: '2008-01-01'
                }, {
                    bookid: 2,
                    bookname: '水浒传',
                    createDate: '2008-01-01'
                }, {
                    bookid: 3,
                    bookname: '西游记',
                    createDate: '2008-01-01'
                }, {
                    bookid: 4,
                    bookname: '红楼梦',
                    createDate: '2008-01-01'
                }, {
                    bookid: 5,
                    bookname: '悲惨世界',
                    createDate: '2008-01-01'
                }]
                this.booklist = books;
            }


        })
    </script>
</body>

</html>