<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <p> {{message}}</p>
        <p :title="message">test</p>
        <p v-if="isShow">看不见我看不见我</p>
        <p v-else>被你发现了</p>
        <p v-show="isVip">我是VIP</p>
        <ul>
            <li v-for="item in bookArr">item</li>
        </ul>

    </div>
    <script src="../vue.js">

    </script>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                message: "hello Vue ",
                isShow: false,
                isVip: true,
                bookArr: ['Vue', 'React', 'Javascript', 'Css', 'Html']
            }
        })
    </script>
</body>

</html>