@charset "UTF-8";
html {
  height: 100%;
}

html body {
  height: 100%;
  background-color: #6fb3e0;
}

html body #root {
  height: 100px;
}

html body #root .ant-layout-header {
  padding: 0;
}

html body #root .dropdown {
  position: absolute;
  right: 20px;
  top: 0px;
}

html body #root .dropdown .ant-dropdown-link {
  color: #fff;
}

html body #root .ant-layout-sider {
  border-right: 1px solid #e8e8e8;
}

html body #root .complaint {
  width: 95%;
  margin: 20px auto;
  border: 1px solid #c5d0dc;
  padding: 16px 12px;
  text-align: center;
}

html body #root .btn-Cp {
  margin: 20px 50px;
  display: flex;
  justify-content: space-around;
}

html body #root .problem {
  width: 95%;
  margin: 20px auto;
  border: 1px solid #c5d0dc;
  padding: 16px 12px;
}

html body #root .problem .content {
  margin-left: 100px;
}

html body #root .problem .content label {
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 20px;
  width: 100px;
  text-align-last: justify;
  color: #f00;
  vertical-align: top;
}

html body #root .problem .content input {
  vertical-align: top;
}

html body #root .problem .content textarea {
  vertical-align: middle;
}

html body #root .itemupload {
  width: 95%;
  margin: 0px auto;
}

html body #root .itemupload h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

html body #root .itemupload .content {
  border: 1px solid #c5d0dc;
  padding: 16px 12px;
  text-align: center;
}

html body #root .itemupload .content label {
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 20px;
  width: 100px;
  text-align-last: justify;
  color: #f00;
}

html body #root .itemupload .content .ant-upload {
  margin-right: 20px;
}

html body #root .itemupload .content .ant-upload i {
  font-style: normal;
  font-size: 12px;
}

html body #root .stuvip {
  width: 95%;
  margin: 20px auto;
  border: 1px solid #c5d0dc;
  padding: 16px 12px;
}

html body #root .stuvip h2 {
  text-align: center;
  color: #f00;
}

html body #root .stuvip .content {
  margin-left: 100px;
}

html body #root .stuvip .content label {
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 20px;
  width: 100px;
  text-align-last: justify;
  color: #f00;
  vertical-align: top;
}

html body #root .stuvip .content input {
  vertical-align: top;
}

html body #root .stuvip .content textarea {
  vertical-align: middle;
}

html body #root .weekly {
  width: 95%;
  margin: 20px auto;
  border: 1px solid #c5d0dc;
  padding: 16px 12px;
}

html body #root .weekly .content {
  margin-left: 100px;
}

html body #root .weekly .content label {
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 20px;
  width: 100px;
  text-align-last: justify;
  color: #f00;
  vertical-align: top;
}

html body #root .weekly .content input {
  vertical-align: top;
}

html body #root .weekly .content textarea {
  vertical-align: middle;
}

html body #root .moneyDetail h2 {
  text-align: center;
  width: 95%;
  margin: 0 auto 20px;
  border-bottom: 1px solid #e2e2e2;
}

html body #root .moneyDetail .content {
  margin: 0 50px;
}

html body #root .moneyDetail .content table {
  font-size: 14px;
  border-collapse: collapse;
  text-indent: 10px;
  width: 100%;
}

html body #root .moneyDetail .content table tr {
  height: 30px;
  line-height: 30px;
}

html body #root .moneyDetail .content table tr td {
  border: 1px solid #ddd;
  font-size: 12px;
}

html body #root .moneyDetail .content table tr th {
  border: 1px solid #ddd;
  white-space: nowrap;
}

html body #root .moneyDetail .content table thead {
  background-color: #eee;
}

html body #root .moneyDetail .content table tbody tr:nth-child(odd) {
  background-color: #fff;
}

html body #root .moneyDetail .content table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

html body #root .evaluate .alert {
  width: 95%;
  margin: 20px auto;
  color: #468847;
  font-size: 14px;
  height: 50px;
  padding: 15px;
  border: 1px solid #d6e9c6;
  margin-bottom: 20px;
  background-color: #dff0d8;
}

html body #root .evaluate .content {
  width: 95%;
  margin: 20px auto;
}

html body #root .evaluate .content table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
  text-indent: 10px;
  width: 100%;
  text-align: center;
}

html body #root .evaluate .content table thead {
  background-color: #eee;
}

html body #root .evaluate .content table tr {
  height: 30px;
  line-height: 30px;
}

html body #root .evaluate .content table tr td {
  border: 1px solid #ddd;
  font-size: 12px;
}

html body #root .evaluate .content table tr th {
  border: 1px solid #ddd;
  white-space: nowrap;
}

html body #root .inquiry .content {
  width: 95%;
  margin: 20px auto;
}

html body #root .inquiry .content table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
  text-indent: 10px;
  width: 100%;
  text-align: center;
}

html body #root .inquiry .content table thead {
  background-color: #eee;
}

html body #root .inquiry .content table tr {
  height: 30px;
  line-height: 30px;
}

html body #root .inquiry .content table tr td {
  border: 1px solid #ddd;
  font-size: 12px;
}

html body #root .inquiry .content table tr th {
  border: 1px solid #ddd;
  white-space: nowrap;
}

html body #root .leave {
  width: 95%;
  margin: 20px auto;
  border: 1px solid #c5d0dc;
  padding: 16px 12px;
}

html body #root .leave .content {
  margin-left: 50px;
}

html body #root .leave .content label {
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 20px;
  width: 100px;
  text-align-last: justify;
  color: #f00;
  vertical-align: top;
}

html body #root .leave .content input {
  vertical-align: top;
}

html body #root .leave .content textarea {
  vertical-align: middle;
}

html body #root .leave .content .setTime {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  margin-left: -150px;
}

html body #root .leave .content .setTime:before {
  content: "请假时间:";
  color: red;
  margin-right: 20px;
  width: 100px;
  text-align-last: justify;
  color: #f00;
}

html body #root .leave .content .setTime .ant-calendar-picker {
  width: 120px;
  margin-right: 5px;
}

html body #root .leave .content .setTime .ant-select {
  margin-right: 5px;
  width: 56px;
}

html body #root .discipline .content {
  width: 95%;
  margin: 20px auto;
}

html body #root .discipline .content table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
  text-indent: 10px;
  width: 100%;
  text-align: center;
}

html body #root .discipline .content table thead {
  background-color: #eee;
}

html body #root .discipline .content table tr {
  height: 30px;
  line-height: 30px;
}

html body #root .discipline .content table tr td {
  border: 1px solid #ddd;
  font-size: 12px;
}

html body #root .discipline .content table tr th {
  border: 1px solid #ddd;
  white-space: nowrap;
}

html body #root .index .detail {
  margin: 20px 10px;
}

html body #root .index .detail .ant-col-18 {
  padding-right: 10px;
  font-size: 14px;
}

html body #root .index .detail .ant-col-18 .ant-descriptions-item-label {
  padding: 5px 20px;
  background-color: #edf3f4;
  color: #336199;
  border-right: 1px solid #dcebf7;
}

html body #root .index .detail .ant-col-18 .ant-descriptions-item-content {
  padding: 5px 20px;
  border-right: 1px solid #dcebf7;
}

html body #root .index .detail .ant-col-6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

html body #root .index .detail .ant-col-6 img {
  margin: 20px 0;
}

html body #root .index .detail .ant-col-6 button {
  margin-top: 90px;
}

html body #root .login {
  background-color: #6fb3e0;
  width: 400px;
  height: 268px;
  background-color: #f7f7f7;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

html body #root .login .loginbox {
  padding: 0 10px;
  text-align: center;
}

html body #root .login .loginbox h2 {
  color: #478fca;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
}

html body #root .login .loginbox .ant-input {
  margin-bottom: 10px;
}

html body #root .login .loginbox .ant-btn {
  width: 100%;
}

html body #root .login .summary {
  height: 40px;
  background-color: #5090c1;
  border-top: 2px solid #597597;
  text-align: center;
}

html body #root .login .summary h3 {
  line-height: 40px;
  color: #fff;
  font-weight: 400;
}
