::selection {
  background-color: #f13f84;
  color: #fff;
}
.select-color {
  line-height: 30px;
  font-weight: bold;
  font-size: 30px;
  color: #d60f5c;
}
.special::selection {
  background-color: #00b7a3;
}
