.justify-text .li {
  padding: 0 20px;
  margin-top: 10px;
  width: 100px;
  background-color: #f13f84;
  line-height: 40px;
  text-align-last: justify;
  color: #fff;
  list-style: none;
}
.justify-text .li:first-child {
  margin-top: 0;
}
